<a href="https://colab.research.google.com/github/RegretCode/Desenvolvedor-Python-IGTI/blob/main/DesafioMd2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Realizar a análise de uma base de dados real em Python.

# Enunciado:
# O uso de bicicletas como meio de transporte ganhou muita força nos últimos
# anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura
# de trânsito. Para incentivar seu uso, cidades em todo o mundo têm
# implementado programas de compartilhamento de bicicleta. Nesses
# sistemas, elas são retiradas e devolvidas em quiosques automatizados que
# ficam espalhados por diversos pontos da cidade.

# As plataformas de compartilhamento de bicicletas costumam coletar diversos
# tipos de dados, como a duração da viagem, as localizações iniciais e finais dos
# percursos, entre outros. Esses dados, em conjunto com informações sobre o
# clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais
# robusta do compartilhamento de bicicletas.

# Segue um descritivo dos dados coletados:

# - rec_id: Indice do registro de locacao;
# - datetime: data;
# - season: estacao do ano (1:inverno, 2: primavera, 3: verao, 4: outono).  Relativo ao hemisferio norte;
# - year: ano (0: 2011, 1: 2012);
# - month: mes (1 a 12);
# - hour: hora do dia (0 a 23);
# - is_holiday: boolean indicando dia feriado;
# - weekday: dia da semana(0: domingo, 1: segunda, ..., 6: sabado);
# - is_workingday: boolean indicando dia util
# - weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);
# - temp: Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;
# - atemp: Sensacao termica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50;
# - humidity: Humidade relativa (0 a 1);
# - casual: numero de locacoes para usuario casuaias;
# - registered: numero de locacoes para usuarios registrados;
# - total_count: contador total de alugueis (casual+registered).

# Esta atividade tem como objetivo analisar os dados de compartilhamento de
# bicicletas em uma cidade, coletados pela Universidade do Porto.

In [ ]:
# Objetivo, importar as bibliotecas numpy e pandar e analisar o dataset "https://pycourse.s3.amazonaws.com/bike-sharing.csv"

# Responder às seguintes perguntas:
# a. Qual o tamanho desse dataset?
# b. Qual a média da coluna windspeed?
# c. Qual a média da coluna temp?
# d. Quantos registros existem para o ano de 2011?
# e. Quantos registros existem para o ano de 2012?
# f. Quantas locações de bicicletas foram efetuadas em 2011?
# g. Quantas locações de bicicletas foram efetuadas em 2012?
# h. Qual estação do ano contém a maior média de locações de bicicletas?
# i. Qual estação do ano contém a menor média de locações de bicicletas?
# j. Qual horário do dia contém a maior média de locações de bicicletas?
# k. Qual horário do dia contém a menor média de locações de bicicletas?
# l. Que dia da semana contém a maior média de locações de bicicletas?
# m. Que dia da semana contém a menor média de locações de bicicletas?
# n. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?
# o. Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

# importando as bibliotecas
import numpy as np
import pandas as pd

# carregando o dataset e utilizando o pandas
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [ ]:
num_linhas, num_colunas = df.shape # shape retorna uma tupla contendo o numero de linhas e colunas do DataFrame

# a. Qual o tamanho desse dataset?
print(f'O dataset possui {num_linhas} Linhas e, {num_colunas} Colunas.')

O dataset possui 17379 Linhas e, 17 Colunas.

In [ ]:
# b. Qual a média da coluna windspeed?
media_windspeed = df['windspeed'].mean()
print(media_windspeed)

0.19009760630646177

In [ ]:
# c. Qual a média da coluna temp?
media_temp = df['temp'].mean()
print(media_temp)

0.4969871684216583

In [ ]:
# d. Quantos registros existem para o ano de 2011?
contagem_2011 = df['year'].value_counts()

# Acessar o número de registros para o ano de 2011
registros_2011 = contagem_2011[0]

print(registros_2011)

8645

In [ ]:
# e. Quantos registros existem para o ano de 2012?
contagem_2012 = df['year'].value_counts()

# Acessar o número de registros para o ano de 2011
registros_2012 = contagem_2012[1]

print(registros_2012)

8734

In [ ]:
# f. Quantas locações de bicicletas foram efetuadas em 2011?
df_2011 = df[df['year'] == 0]
casual_2011 = df_2011['casual'].sum() # calcula numero de locacoes casuais em 2011
registered_2011 = df_2011['registered'].sum() # calcula numero de locacoes registered em  2011
total_2011 = df_2011['total_count'].sum() # calcula o numero total de locacoes em 2011

print('Numero de locacoes casuais:', casual_2011)
print('Numero de locacoes registered:', registered_2011)
print('Numero de locacoes totral:', total_2011)

Numero de locacoes casuais: 247252
Numero de locacoes registered: 995851
Numero de locacoes totral: 1243103

In [ ]:
# g. Quantas locações de bicicletas foram efetuadas em 2012?
df_2012 = df[df['year'] == 1]
casual_2012 = df_2012['casual'].sum() # calcula numero de locacoes casuais em 2012
registered_2012 = df_2012['registered'].sum() # calcula numero de locacoes registered em  2012
total_2012 = df_2012['total_count'].sum() # calcula o numero total de locacoes em 2012

print('Numero de locacoes casuais:', casual_2012)
print('Numero de locacoes registered:', registered_2012)
print('Numero de locacoes totral:', total_2012)

Numero de locacoes casuais: 372765
Numero de locacoes registered: 1676811
Numero de locacoes totral: 2049576

In [ ]:
# h. Qual estação do ano contém a maior média de locações de bicicletas?

map_estacoes = {1: 'inverno', 2: 'primavera', 3: 'verao', 4: 'outono'} # mapeando os valores da coluna "season" para as estacoes do ano correspondentes
df['season'] = df['season'].map(map_estacoes)
media_locacoes_estacao = df.groupby('season')['total_count'].mean() # calcula a media de locacoes por estacao do ano

if not media_locacoes_estacao.empty:
  maior_media = media_locacoes_estacao.idxmax()
  print('Estacao com maior media de locacao eh:', maior_media)
else:
  print('Nao ha dados disponiveis para calcular a mediade locacoes por ano.')

Estacao com maior media de locacao eh: verao

In [ ]:
# i. Qual estação do ano contém a menor média de locações de bicicletas?

if not media_locacoes_estacao.empty:
  menor_media = media_locacoes_estacao.idxmin()
  print('Estacao com menor media de locacao eh:', menor_media)
else:
  print('Nao ha dados disponiveis para calcular a mediade locacoes por ano.')

Estacao com menor media de locacao eh: inverno

In [ ]:
# j. Qual horário do dia contém a maior média de locações de bicicletas?

media_locacao_hora = df.groupby('hour')['total_count'].mean() # calcula media de locacoes por hora do dia
maior_media = media_locacao_hora.idxmax() # encontra o horario com a maior media de locacoes
print('Horario com maior media eh:', maior_media)

Horario com maior media eh: 17

In [ ]:
# k. Qual horário do dia contém a menor média de locações de bicicletas?

media_locacao_hora2 = df.groupby('hour')['total_count'].mean() # calcula media de locacoes por hora do dia
menor_media = media_locacao_hora2.idxmin() # encontra o horario com a maior media de locacoes
print('Horario com menor media eh:', menor_media)

Horario com menor media eh: 4

In [ ]:
# l. Que dia da semana contém a maior média de locações de bicicletas?

map_weekday = {0: 'domingo', 1: 'segunda-feira', 2: 'terca-feira', 3: 'quarta-feira', 4: 'quinta-feira', 5: 'sexta-feira', 6: 'sabado'} # mapeando os dias da semana
media_locacao_week = df.groupby('weekday')['total_count'].mean() # calcula media de locacoes por semana
maior_media_weekday = media_locacao_week.idxmax()
print('Dia da semana com a maior media de locacoes:', maior_media_weekday)

Dia da semana com a maior media de locacoes: 4

In [ ]:
# m. Que dia da semana contém a menor média de locações de bicicletas?

menor_media_weekday = media_locacao_week.idxmin()
print('Dia da semana com a menor media de locacoes:', menor_media_weekday)

Dia da semana com a menor media de locacoes: 0

In [ ]:
# n. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

media_locacao_quarta = df[df['weekday'] == 3].groupby('hour')['total_count'].mean() # filtrando as quartas e a media de hora
horario_maior_media_quarta = media_locacao_quarta.idxmax()
print('Horario da quarta-feira com a maior media de locacoes de bicicletas:', horario_maior_media_quarta)

Horario da quarta-feira com a maior media de locacoes de bicicletas: 17

In [ ]:
# o. Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?
media_locacao_sabado = df[df['weekday'] == 6].groupby('hour')['total_count'].mean() # filtrando os sabados e a media de hora
horario_maior_media_sabado = media_locacao_quarta.idxmax()
print('Horario da quarta-feira com a maior media de locacoes de bicicletas:', horario_maior_media_sabado)

Horario da quarta-feira com a maior media de locacoes de bicicletas: 17